name: Run Bill Automation Script

on:
  workflow_dispatch:
    inputs:
      source:
        description: "Appscript Button"
        required: false
        default: "manual"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run script
        run: |
          echo "Triggered from: ${{ github.event.inputs.source }}"
          python bill_generation.py
